trigger: none
pool: genericinfrapool
# parameters:
#   - name: environment
#     displayName: Envrionment
#     type: string
#     default: dev
#     values:
#       - dev
#       - prod
stages:
  - stage: Terraforminfra
    jobs:
      - job: 
        steps:
        - task: TerraformInstaller@1
          displayName: Terraforminstall
          inputs:
            terraformVersion: 'latest'
        - task: TerraformTask@5
          displayName: Terraforminit
          inputs:
            provider: 'azurerm'
            command: 'init'
            workingDirectory: '$(System.DefaultWorkingDirectory)/environments/dev'
            commandOptions: '-reconfigure'
            backendServiceArm: 'genericinfras'
            backendAzureRmResourceGroupName: 'rg-todoappproj'
            backendAzureRmStorageAccountName: 'sgtodoapppro'
            backendAzureRmContainerName: 'conttodoapppro'
            backendAzureRmKey: 'dev.terraform.tfstate'
        
        - task: TerraformTask@5
          displayName: Terraformvalidate
          inputs:
            provider: 'azurerm'
            command: 'validate'
            workingDirectory: '$(System.DefaultWorkingDirectory)/environments/dev'
        
        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'plan'
            workingDirectory: '$(System.DefaultWorkingDirectory)/environments/dev'
            environmentServiceNameAzureRM: 'genericinfras'
        

        